# Port for running app
PORT=4000
# Mongoose URI for connecting to the database
MONGOOSE_URI=mongodb://localhost:27017/example
# Access token secret for generating access token
ACCESS_TOKEN_SECRET=B
# Refresh token secret for generating refresh token
REFRESH_TOKEN_SECRET=A
# Remember me token secret for generating remember token
REMEMBER_ME_TOKEN_SECRET=C
