# Port for running app
PORT=4000
# MySQL configuration
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=""
DB_DATABASE=place
# Redis URI for connecting to the database
REDIS_URI=redis://localhost:6379
# Access token secret for generating access token
ACCESS_TOKEN_SECRET=B
# Refresh token secret for generating refresh token
REFRESH_TOKEN_SECRET=A
# Remember me token secret for generating remember token
REMEMBER_ME_TOKEN_SECRET=C
# Session secret for using session in project (route: /src/app.ts)
SESSION_SECRET=dawpjdawjp
# Email for sending random code in login with email logic
EMAIL=example@gmail.com
# Password of email in login with email logic  (It doesn't you're real password. Check emailPassword.md to see information)
EMAIL_PASSWORD=fgbbreirhrmitqbf
# Google client id for login with google (Check howGetClientIdAndClientSecret.md)
GOOGLE_CLIENT_ID=D
# Google client secret for login with google (Check howGetClientIdAndClientSecret.md)
GOOGLE_CLIENT_SECRET=E